# 문자열
- 파이썬은 작은 따옴표(') 또는 큰 따옴표(") 로 묶은 것들이 모두 같은 문자열이다

In [2]:
# 문자열 생성
# 큰 따옴표나 작은 따옴표로 작성하는 것 자체가 문자열 객체를 생성하는 것이다.
str1 = '안녕하세요'
str2 = "안녕하세요"

print('str1 :', str1)
print('str2 :', str2)

print(type(str1))
print(type(str2))

str1 : 안녕하세요
str2 : 안녕하세요
<class 'str'>
<class 'str'>

In [6]:
# 큰 따음표를 포함하는 문자열을 사용하고자 한다면..
str1 = '이름은 "홍길동"입니다'
#만약 작은 따음표를 포함하는 문자열을 포함하고 싶다면
str2 = "이름은 '홍길동'입니다"

print(str1)
print(str2)

이름은 "홍길동"입니다
이름은 '홍길동'입니다

In [10]:
#여러 줄 문자열
str1 = '''
동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리나라 만세
'''

str2 = """
동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리나라 만세
"""

print(str1)
print(str2)

동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리나라 만세


동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리나라 만세

In [14]:
# 에스케이프 문자
# \ 와 같이 작성하는 특별한 의미를 가진 문자
# \n : 줄바꿈
# \t : 탭
# \' : 작은 따음표
# \" : 큰 따음표
# \\ : \

str1 = "동해물과\n백두산이"
print(str1)

str2 = "동해물과\t\t백두산이"
print(str2)

str3 = "동해물과\\백두산이"
print(str3)

동해물과
백두산이
동해물과		백두산이
동해물과\백두산이

In [20]:
#raw string
# 애스케이프 문자를 무시한다.
str1 = '동해물과\n백두산이\t마르고\\닳도록'
print(str1)

str2 = r'동해물과\n백두산이\t마르고\\닳도록'
print(str2)

동해물과
백두산이	마르고\닳도록
동해물과\n백두산이\t마르고\\닳도록

In [28]:
#만약 문자열 안에 작은 따음표, 큰 따음표를 모두 포함한다면
str1 = '이름은 \'홍길동\'이고 나이는 "20살"입니다'
str2 = '이름은 "홍길동"이고 나이는 "20살"입니다'

print(str1)
print(str2)

이름은 '홍길동'이고 나이는 "20살"입니다
이름은 "홍길동"이고 나이는 "20살"입니다

In [30]:
str1 = '''이름은 '홍길동'이고 나이는 "20살" 입니다'''
str2 = """이름은 '홍길동'이고 나이는 "20살" 입니다"""
print(str1)
print(str2)

이름은 '홍길동'이고 나이는 "20살" 입니다
이름은 '홍길동'이고 나이는 "20살" 입니다

In [32]:
# 문자열 합치기
# 문자열을 더하기 연산자로 연산하면 하나의 문자열로 만들어준다.
a1 = '문자열1' + '문자열2'
print(a1)

문자열1문자열2

In [34]:
# 문자열과 다른 타입의 값을 + 연산자로 합치는 것은 불가능하다
# str()을 이용하여 문자열로 변환한다음 합쳐준다.
a1 = '홍길동'
a2 = 20
a3 = 185

str1 = '이름은 ' + a1 + '이고 나이는 ' + str(a2) + '살 입니다. ' + a1 + '의 키는 ' + str(a3) + 'cm 입니다'
print(str1)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [36]:
# 포멧 문자 사용
# 정수 : %d, 실수 : %f, 문자열 : %s, 그 외는 : %s
str2 = '이름은 %s이고 나이는 %d살 입니다. %s의 키는 %dcm 입니다' % (a1, a2, a1, a3)
print(str2)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [38]:
# format 사용
str3 = '이름은 {0}이고 나이는 {1}살 입니다. {0}의 키는 {2}cm 입니다'.format(a1, a2, a3)
print(str3)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [40]:
# f 문자열 사용
str4 = f'이름은 {a1}이고 나이는 {a2}살 입니다. {a1}의 키는 {a3}cm 입니다'
print(str4)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [3]:
# 문자열 내의 문자 접근
str1 = 'abcdefg'

#첫 번째 글자
print(str1[0])
#두 번째 글자
print(str1[1])

# -1 부터 1씩 감소하는 순서값을 이용하여 마지막 글자부터 접근할 수 있다
# 뒤에서 첫 번째 글자
print(str1[-1])
# 뒤에서 두 번째 글자
print(str1[-2])

a
b
g
f

In [11]:
# 순서값 2 ~ 5 -1
print(str1[2:5])
# 처음부터 5 - 1
print(str1[:5])
#순서값 2 ~ 끝까지
print(str1[2:])

열1문
문자열1문
열1문자열2

In [9]:
# 문자열 + 문자열 => 둘을 합친 새로운 문자열이 생성된다.
str1 = '문자열1' + '문자열2'
print(str1)

문자열1문자열2

In [13]:
# 문자열 * 숫자 : 숫자만큼 문자열을 반복한 문자열이 생성된다.
str1 = '문자열1' * 3
print(str1)

문자열1문자열1문자열1

In [15]:
# 글자수
str1 = 'abcdefg'
str2 = '가나다라마바사'

a1 = len(str1)
a2 = len(str2)

print(a1)
print(a2)

7
7

In [17]:
# 첫글자를 대문자로 변경한다.
str1 = 'hello world'
str2 = str1.capitalize()
print(str2)

str3 = 'hELLO WORLD'
str4 = str3.capitalize()
print(str4)

Hello world
Hello world

In [27]:
str1 = 'python'

# 주어진 문자열을 주어진 크기로 늘려준다.
# 원본 문자열을 가운데 배치하고 나머지는 지정된 문자열(글자 1개짜리)으로 채워준다.
str2 = str1.center(40, '_')
print(f'[{str2}]')

# 원본 문자열을 좌측에 배치하고 나머지는 지정된 문자열(글자 1개짜리)으로 채워준다.
str3 = str1.ljust(40, '_')
print(f'[{str3}]')

# 원본 문자열을 우측에 배치하고 나머지는 지정된 문자열(글자 1개짜리)으로 채워준다.
str4 = str1.rjust(40, '_')
print(f'[{str4}]')

[_________________python_________________]
[python__________________________________]
[__________________________________python]

In [29]:
str1 = 'abcd abcd abcd aaaa'

# 문자열내에 abcd가 몇개가 있는가..
a1 = str1.count('abcd')
print(a1)

# 문자열 내에 a가 몇개가 있는가..
a2 = str1.count('a')
print(a2)

# 앞에서 부터 10글자를 제외하고 a가 몇개가 있는가.
a3 = str1.count('a', 10)
print(a3)

# 앞에서 부터 10글자를 제외하고 순서값 15번째 부터 끝까지를 제외한 a가 몇개가 있는가
a4 = str1.count('a', 10, 15)
print(a4)

3
7
5
1

In [31]:
str1 = 'abcdefg'

# 문자열이 abc로 시작하는가
a1 = str1.startswith('abc')
print(a1)

# 문자열이 zzz로 시작하는가
a2 = str1.startswith('zzz')
print(a2)

True
False

In [33]:
# 문자열이 efg로 끝나는가
a3 = str1.endswith('efg')
print(a3)

# 문자열이 zzz로 끝나는가
a4 = str1.endswith('zzz')
print(a4)

True
False

In [35]:
# cde가 어디에 있는가
a1 = str1.find('cde')
a2 = str1.index('cde')

print(a1)
print(a2)

2
2

In [37]:
# 없는 문자열 찾기
a3 = str1.find('zzz')
print(a3)

a4 = str1.index('zzz')
print(a4)

-1

ValueError: substring not found

In [39]:
# 숫자와 문자로 구성되어 있는가
str1 = 'abcd1234'
a1 = str1.isalnum()
print(a1)

str2 = 'abcd'
a2 = str2.isalnum()
print(a2)

str3 = '1234'
a3 = str3.isalnum()
print(a3)

str4 = 'abcd가나다라1234'
a4 = str4.isalnum()
print(a4)

str5 = 'abcd_1234'
a5 = str5.isalnum()
print(a5)

True
True
True
True
False

In [41]:
# 숫자로만 구성되어 있는가
str6 = '123456'
a6 = str6.isdigit()
print(a6)

# 문자로만 구성되어 있는가
str7 = 'abcdef'
a7 = str7.isalpha()
print(a7)

# 소문자로만 구성되어 있는가.
str8 = 'abcdefg'
a8 = str8.islower()
print(a8)

# 대문자로만 구성되어 있는가
str9 = 'ABCDEFG'
a9 = str9.isupper()
print(a9)

True
True
True
True

In [43]:
str1 = 'ABcdEF'

# 대문자를 소문자로 변경
str2 = str1.lower()
print(str2)

# 소문자를 대문자로 변경
str3 = str1.upper()
print(str3)

abcdef
ABCDEF

In [45]:
# 지정된 문자열의 일부를 다른 문자열로 변경한다
str1 = 'abcdefg'
# cde 를 zzzzz로 변경한다
str2 = str1.replace('cde', 'zzzzz')
print(str2)

str3 = 'abcdefcdekkk'
str4 = str3.replace('cde', 'zzzzz')
print(str4)

str5 = 'abcdefcdekkk'
# 3번째 숫자를 넣어주면 그 개수만큼 변경한다
str6 = str5.replace('cde', 'zzzzz', 1)
print(str6)

abzzzzzfg
abzzzzzfzzzzzkkk
abzzzzzfcdekkk