# List Tuple
- 0부터 1까지 증가하는 순서 값을 이용하여 데이터를 관리하는 요소
- Tuple은 읽기만 가능하고 List는 수정, 삭제, 삽입, 추가 등이 가능하다

In [5]:
# 생성
# tuple 생성
tuple1 = tuple()
# list 생성
list1 = list()

print(tuple1)
print(list1)
print(type(tuple1))
print(type(list1))

()
[]
<class 'tuple'>
<class 'list'>

In [7]:
# tuple 생성
tuple2 = ()
list2 = []

print(tuple2)
print(list2)
print(type(tuple2))
print(type(list2))

()
[]
<class 'tuple'>
<class 'list'>

In [6]:
# tuple 생성
tuple3 = (10, 20, 30, 40, 50)
# list 생성
list3 = [10, 20, 30, 40, 50]

print(tuple3)
print(list3)
print(type(tuple3))
print(type(list3))

(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
<class 'tuple'>
<class 'list'>

In [9]:
# tuple 생성
tuple4 = 10, 20, 30, 40, 50

print(tuple4)
print(type(tuple4))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [11]:
# 연산
tuple1 = 10, 20, 30
tuple2 = 40, 50, 60
list1 = [10, 20, 30]
list2 = [40, 50, 60]


# 더하기. 관리하는 값들을 모두 추출하여 새로운 요소를 생성해준다.
tuple3 = tuple1 + tuple2
list3 = list1 + list2
print(tuple3)
print(list3)

(10, 20, 30, 40, 50, 60)
[10, 20, 30, 40, 50, 60]

In [16]:
# 곱하기. 곱한 수 만큼 반복된 요소를 생성해준다.
tuple4 = tuple1 * 3
list4 = list1 * 3
print(tuple4)
print(list4)

(10, 20, 30, 10, 20, 30, 10, 20, 30)
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [13]:
tuple1 = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
list1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(tuple1[0])
print(tuple1[1])
print(list1[0])
print(list1[1])

print(tuple1[-1])
print(tuple1[-2])
print(list1[-1])
print(list1[-2])

10
20
10
20
100
90
100
90

In [15]:
print(tuple1[2:5])
print(tuple1[:5])
print(tuple1[2:])

print(list1[2:5])
print(list1[:5])
print(list1[2:])

(30, 40, 50)
(10, 20, 30, 40, 50)
(30, 40, 50, 60, 70, 80, 90, 100)
[30, 40, 50]
[10, 20, 30, 40, 50]
[30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
# 관리하는 값이 개수
print(len(list1))
print(len(tuple1))

10
10

In [19]:
# 관리 하는 값의 최대 최소값을 가져온다
tuple1 = 50, 20, -30, 40, 80
list1 = [50, 20, -30, 40, 80]

a1 = max(tuple1)
a2 = max(list1)
a3 = min(tuple1)
a4 = min(list1)

print(a1, a2, a3, a4)

80 80 -30 -30

In [21]:
# 튜플에 있는 값을 모두 추출하여 새로운 리스트를 생성한다.
tuple1 = 10, 20, 30, 40, 50
list1 = list(tuple1)
print(list1)

[10, 20, 30, 40, 50]

In [23]:
# 리스트에 있는 값을 모두 추출하여 새로운 튜플을 생성한다.
tuple2 = tuple(list1)
print(tuple2)

(10, 20, 30, 40, 50)

In [25]:
# 문자열을 리스트나 튜플로 생성한다.
tuple1 = tuple('안녕하세요')
list1 = list('안녕하세요')

print(tuple1)
print(list1)

('안', '녕', '하', '세', '요')
['안', '녕', '하', '세', '요']

In [27]:
# str에 list나 튜플을 넣어주면 출력할 깨 나타나는 형태의 문자열로 만들어진다
str1 = str(tuple1)
str2 = str(list1)
print(str1)
print(str2)

('안', '녕', '하', '세', '요')
['안', '녕', '하', '세', '요']

In [29]:
str1 = '_'
# join : 지정한 튜플이나 리스트 내의 값들을 모두 추출하여 하나의 문자열로 만들어준다.
# 이때, join을 사용한 문자열이 구분자가 된다.
str2 = str1.join(tuple1)
str3 = str1.join(list1)

print(str2)
print(str3)

안_녕_하_세_요
안_녕_하_세_요

In [31]:
# 길이가 0인 문자열로 사용하면 그냥 하나의 문자열로 합칠 수 있다.
str1 = ''
str2 = str1.join(tuple1)
str3 = str1.join(list1)

print(str2)
print(str3)

안녕하세요
안녕하세요

In [33]:
# 구분자를 기분으로 문자열을 나눈다
# 결과는 리스트로 나온다.
str1 = 'ab cd_ef gh'

tuple1 = str1.split()
tuple2 = str1.split('_')

print(tuple1)
print(tuple2)

['ab', 'cd_ef', 'gh']
['ab cd', 'ef gh']

### list의 데이터를 추가, 수정, 삭제, 삽입을 한다.
- tuple은 불가능하다.

In [35]:
list1 = []
print(list1)

[]

In [37]:
# 추가
list1.append(10)
list1.append(20)
list1.append(30)
print(list1)

[10, 20, 30]

In [39]:
# 다수의 값을 한번에 추가한다
# 다른 리스트나 튜플이 가지고 있는 값을 추출하여 뒤에 추가해준다.
list1.extend([40, 50, 60])
print(list1)

[10, 20, 30, 40, 50, 60]

In [41]:
# 수정
# 순서값을 가지고 접근하여 값을 넣어준다.
list1[1] = 200
print(list[1])

list[1]

In [43]:
# 삽입
# 순서값 1에 해당하는 곳에 지정된 값을 삽입한다.
list1.insert(1, 90)
print(list1)

[10, 90, 200, 30, 40, 50, 60]

In [45]:
list1.remove(90)
print(list1)

[10, 200, 30, 40, 50, 60]

In [47]:
# 가장 마지막 것을 가져오고 리스트에서는 제거한다.
a1 = list1.pop()
print(a1)
print(list1)

60
[10, 200, 30, 40, 50]

In [49]:
# 순서값을 지정하여 가져오고 리스트에서는 제거한다.
a2 = list1.pop(2)
print(a2)
print(list1)

30
[10, 200, 40, 50]

In [55]:
# 값을 지정하여 제거한다.
# 동일한 값이 있을 경우 첫 번째 값을 제거한다.
list1.remove(40)
print(list1)

[10, 20, 30, 50]

In [53]:
# 정렬
# 리스트내의 데이터를 직접 정렬해준다.
list1 = [40, 20, 10, 30, 50]
list1.sort()
print(list1)

[10, 20, 30, 40, 50]

In [57]:
# 반전
# 순서를 반전시킨다.
list1.reverse()
print(list1)

[50, 30, 20, 10]

In [59]:
# 정렬
# 리스트내의 데이터를 직접 정렬해준다.
# 오름 차순 정렬
list1 = [40, 20, 10, 30, 50]
list1.sort()
print(list1)

[10, 20, 30, 40, 50]

In [61]:
# 반전
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [63]:
# 정렬시 내림차순으로 하겠다면 reverse에 True를 설정해준다.
list1 = [40, 20, 10, 30, 50]
list1.sort(reverse=True)
print(list1)

[50, 40, 30, 20, 10]

In [65]:
# 위치 찾기. 없는 것을 넣으면 오류 발생
list1 = [10, 20, 30, 40, 50]
a1 = list1.index(20)
print(a1)

1

### for 문 사용하기
- 컴플리핸션(comprehension)

In [68]:
# list1이 가지고 있는 값에 10을 더해 list2에 담아준다.
list1 = [10, 20, 30, 40, 50]
list2 = []

for v1 in list1 :
    list2.append(v1 + 10)

print(list2)

[20, 30, 40, 50, 60]

In [70]:
list2 = [v1 + 10 for v1 in list1]
print(list2)

[20, 30, 40, 50, 60]

In [73]:
list3 = [1, 2, 3, 4, 5]
list4 = []

for v1 in list3 :
    if v1 % 2 == 0 :
        list4.append(v1 * 10)
    else :
        list4.append(v1)
print(list4)

[1, 20, 3, 40, 5]

In [75]:
list3 = [1, 2, 3, 4, 5]
list4 = [v1 * 10 if v1 % 2 == 0 else v1 for v1 in list3]
print(list4)

[1, 20, 3, 40, 5]

In [77]:
# list1이 가지고 있는 값에 10을 더해 list2에 담아준다.
list1 = [10, 20, 30, 40, 50]
list2 = []

for v1 in list1 :
    list2.append(v1 + 10)

print(list2)

[20, 30, 40, 50, 60]

In [79]:
# list1이 가지고 있는 값의 수 만큼 반복한다. (in list1)
# list1이 가지고 있는 값을 v1 변수에 담아 준다(for v1)
# 새로운 리스트에 v1 + 10 을 담아준다(v1 + 10)
list2 = [v1 + 10 for v1 in list1]
print(list2)

[20, 30, 40, 50, 60]

In [85]:
# list3의 있는 값이 2로 나눈 나머지가 0 이면
# 10 을 곱해서 담고 그렇지 않은 그대로 담아준다.
list3 = [1, 2, 3, 4, 5]
list4 = []

for v1 in list3 :
# list3이 가지고 있는 값을 2로 나눈 나머지가 0이라면
# 10을 곱해 새로운 리스트에 담는다.
    if v1 % 2 == 0 :
        list4.append(v1 * 10)
    else :
        list4.append(v1)
print(list4)

[1, 20, 3, 40, 5]

In [83]:
list3 = [1, 2, 3, 4, 5]
# list3이 가지고 있는 값의 개수 만큼 반복한다(in list3)
# list3이 가지고 있는 값을 v1 변수에 담아준다(for v1)
# 만약 v1을 2로 나눈 나머지가 0 이라면 (if v1 % 2 == 0) v1 * 10 을 리스트에 담아주고 (v1 * 10)
# 그게 아니면 v1을 그대로 담아준다(else v1)
list4 = [v1 * 10 if v1 % 2 == 0 else v1 for v1 in list3]
print(list4)

[1, 20, 3, 40, 5]

In [87]:
list3 = [1, 2, 3, 4, 5]
# list3이 가지고 있는 값의 수 만큼 반복한다(in list3)
# list3이 가지고 있는 값을 v1 변수에 담아준다(for v1)
# 이 때, v1을 2로 나눈 나머지가 2 일 경우에만(v1 % 2 == 0)
# 새로운 리스트에 v1 * 10을해서 담아준다(v1 * 10)
# 만약 v1 % 2 == 0의 조건에 만족하지 않는 값이라면 리스트에 담지 않는다.
list4 = [v1 * 10 for v1 in list3 if v1 % 2 == 0 ]
print(list4)

[20, 40]

In [93]:
# 리스트가 가지고 있는 값의 총합을 구한다.
list1 = [10, 20, 30, 40, 50]
a1 = sum(list1)
print(a1)

150