In [1]:
# 분해 (unpack)
# 리스트나 튜플이 가니고 있는 값의 개수 만큼 변수를 나열해 주면
# 1:1 대응하여 변수에 담아준다.
tuple1 = 10, 20, 30, 40, 50
list1 = [10, 20, 30, 40, 50]

a1, a2, a3, a4, a5 = tuple1
a10, a20, a30, a40, a50 = list1

print(a1, a2, a3, a4, a5)
print(a10, a20, a30, a40, a50)

10 20 30 40 50
10 20 30 40 50

In [3]:
# 10, 20, 30 이라고 적었기 때문에 10, 20, 30을 관리하는
# 튜플이 만들어진다
# 그리고 좌측에 튜플이 관리하는 값의 개수와 동인한 개수의 변수를
# 배치하였기 때문에 unpack이 발생하여 튜플이 가지고 있는 값을
# 하나씩 변수에 담아준다.
a1, a2, a3 = 10, 20, 30
print(a1, a2, a3)

10 20 30