# 딕셔너리
- 데이터를 이름을 통해 관리하는 요소
- 리스트나 튜플은 의미가 같은 데이터를 관리하는 용도로 사용한다.
- 딕셔너리는 하나의 개체가 가지고 있는 데이터를 관리하는 용도로 사용한다.

In [2]:
# 딕셔너리 생성
# 비어있는 딕셔너리가 생성된다
# 딕셔너리는 나중에 추가할 수 있다
d1 = dict()
print(type(d1))
print(d1)

<class 'dict'>
{}

In [6]:
# 괄호를 통한 딕션너리 생성
# 비어있는 딕셔너리가 생성된다
d2 = {}
print(type(d2))
print(d2)

<class 'dict'>
{}

In [8]:
# 관리하는 값을 지정하여 생성한다.
d3 = {
    'v1' : 100,
    'v2' : 11.11,
    'v3' : '안녕하세요',
    'v4' : [10, 20, 30],
    'v5' : (10, 20, 30),
    'v6' : {
        'a1' : 100,
        'a2' : 200
    }
}
print(d3)

{'v1': 100, 'v2': 11.11, 'v3': '안녕하세요', 'v4': [10, 20, 30], 'v5': (10, 20, 30), 'v6': {'a1': 100, 'a2': 200}}

In [10]:
# [이름] 형태로 데이터를 가져온다.
print(d3['v1'])
print(d3['v2'])
print(d3['v3'])
print(d3['v4'][0])
print(d3['v4'][1])
print(d3['v5'][0])
print(d3['v5'][1])
print(d3['v6']['a1'])
print(d3['v6']['a2'])

100
11.11
안녕하세요
10
20
10
20
100
200

In [14]:
# 값을 수정한다.
# 이름을 통해 값을 새롭게 넣어주면 값이 수정된다.
print(d3['v1'])
d3['v1'] = 200
print(d3['v1'])

100
200

In [16]:
# 추가
# 없는 이름으로 값을 넣어주면 추가된다.
d3['v7'] = 5000
print(d3)
print(d3['v7'])

{'v1': 200, 'v2': 11.11, 'v3': '안녕하세요', 'v4': [10, 20, 30], 'v5': (10, 20, 30), 'v6': {'a1': 100, 'a2': 200}, 'v7': 5000}
5000

In [18]:
# 리스트에서 데이터를 삭제
list1 = [10, 20, 30, 40, 50]
# 값을 가지고 데이터를 삭제
list1.remove(30)
print(list1)

# pop은 순서를 지정하면 그 순서의 값을 전달하고 리스트에서 삭제한다.
list1.pop(1)
print(list1)

# del 연산자 : 지정한 요소를 제거하는 연자자
del list1[1]
print(list1)

[10, 20, 40, 50]
[10, 40, 50]
[10, 50]

In [20]:
# pop : 이름을 지정하여 이름에 해당하는 것을 전달하고 딕셔너리에서 삭제한다.
v1 = d3.pop('v1')
print(v1)
print(d3)

200
{'v2': 11.11, 'v3': '안녕하세요', 'v4': [10, 20, 30], 'v5': (10, 20, 30), 'v6': {'a1': 100, 'a2': 200}, 'v7': 5000}

In [22]:
# del 연산을 통해 삭제할 수 있다.
del d3['v2']
print(d3)

{'v3': '안녕하세요', 'v4': [10, 20, 30], 'v5': (10, 20, 30), 'v6': {'a1': 100, 'a2': 200}, 'v7': 5000}

In [24]:
# 없는 이름으로 데이터를 가져온다.
# 오류 발생
a1 = d3['v100']
print(a1)

KeyError: 'v100'

In [26]:
# get을 통해 가져올 때 이름이 없을 경우 None 이 나온다.
v3 = d3.get('v3')
print(v3)

v100 = d3.get('v100')
print(v100)

안녕하세요
None

In [28]:
# 이름은 꼭 문자열이 아니어도 된다.
d10 = {
    'a1' : 100,
    10 : 200,
    11.11 : 300,
    True : 400
}
print(d10['a1'])
print(d10[10])
print(d10[11.11])
print(d10[True])

100
200
300
400