# 문제1) 
- 리스트에 [1, 2, 3, 4, 5, 6, 7, 8, 9] 까지 담겨져 있다. 이를 이용해 구구단을 출력해보세요

In [92]:
list1 = [1,2,3,4,5,6,7,8,9]
for v1 in list1 :
    for v2 in range (1,10):
        print( v1 * v2 , end = '\t')
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [10]:
#강사님 답
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# 2단부터 9단까지 반복한다
for dan in list1[1:] :
    # 1부터 9까지 반복한다.
    for number in list1 :
        # 현재 단수에 현재 숫자를 곱한다.
        result = dan * number
        # 출력한다
        print(f'{dan} X {number} = {result}')
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [1]:
#컨프리핸션 버전
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# 결과를 담을 리스트
resultList = []
# 9단까지 반복한다.
for dan in list1[1:] :
    # 현재 단수의 구구단 결과값을 계산하여 담아준다.
    r1 = [dan * number1 for number1 in list1]
    # 결과를 담을 리스트에 담아준다.
    resultList.append(r1)
    
# 출력한다.
dan = 2
number1 = 1

# 결과의 수 만큼 반복한다.
for result in resultList :
    # 현재 단의 결과로 반복한다.
    for r1 in result :
        # 출력한다
        print(f'{dan} X {number1} = {r1}')
        number1 = number1 + 1

    dan = dan + 1
    number1 = 1
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 문제2)
- 1 부터 1000까지의 숫자 중 3의 배수이거나 7의 배수에 해당하는 숫자들의 총합을 구하세요

In [54]:
b1 = 0  # 합을 저장할 변수

for a1 in range(1000):
    if a1 % 3 == 0:  
        b1 += a1  # 3의 배수를 누적해서 더함

d1 = 0

for c1 in range(1000):
    if c1 % 7 == 0:  
        d1 += c1  # 7의 배수를 누적해서 더함


print(b1 + d1)

237904

In [51]:
#컨프리핸션 버전

b1 = sum(a1 for a1 in range(1000) if a1%3 == 0)
d1 = sum(c1 for c1 in range(1000) if c1%7 == 0)

print(b1+d1)

237904

In [3]:
#강사님 답
# 숫자를 담을 변수
number1 = 1
# 총합을 담을 변수
total = 0
# 1부터 1000까지 반복한다.
while number1 <= 1000 :
    # 현재 숫자가 3의 배수인지 7의 배수인지 검사한다
    if number1 % 3 == 0 or number1 % 7 == 0 :
        # 3의 배수이거나 7의 배수라면 누적한다.
        total = total + number1

    number1 = number1 + 1
    
# 총합을 출력한다.
print(f'총합 : {total}')

총합 : 214216

In [5]:
# 1 ~ 1000까지의 숫자 중 3의 배수 이거나 7의 배수인 숫자를 리스트에 담아준다.
list1 = [v1 + 1 for v1 in range(1000) if (v1 + 1) % 3 == 0 or (v1 + 1) % 7 == 0]
# 리스트에 담긴 숫자들의 총합을 구한다
total = sum(list1)
# 총합을 출력한다.
print(f'총합 : {total}')

총합 : 214216

# 문제3)
- 1 부터 1000까지의 숫자 중에 3의 배수만 담아준다. 이 때 3의 배수가 짝수라면 '짝수'라고 담고 홀수면 '홀수'라고 담는다.

In [82]:
for p1 in range(1000) :
    if p1 % 3 ==0 :
        if p1 % 2 ==0 :
            print(f'{p1}  짝수')
        else :
            print(f'{p1}  홀수')

0  짝수
3  홀수
6  짝수
9  홀수
12  짝수
15  홀수
18  짝수
21  홀수
24  짝수
27  홀수
30  짝수
33  홀수
36  짝수
39  홀수
42  짝수
45  홀수
48  짝수
51  홀수
54  짝수
57  홀수
60  짝수
63  홀수
66  짝수
69  홀수
72  짝수
75  홀수
78  짝수
81  홀수
84  짝수
87  홀수
90  짝수
93  홀수
96  짝수
99  홀수
102  짝수
105  홀수
108  짝수
111  홀수
114  짝수
117  홀수
120  짝수
123  홀수
126  짝수
129  홀수
132  짝수
135  홀수
138  짝수
141  홀수
144  짝수
147  홀수
150  짝수
153  홀수
156  짝수
159  홀수
162  짝수
165  홀수
168  짝수
171  홀수
174  짝수
177  홀수
180  짝수
183  홀수
186  짝수
189  홀수
192  짝수
195  홀수
198  짝수
201  홀수
204  짝수
207  홀수
210  짝수
213  홀수
216  짝수
219  홀수
222  짝수
225  홀수
228  짝수
231  홀수
234  짝수
237  홀수
240  짝수
243  홀수
246  짝수
249  홀수
252  짝수
255  홀수
258  짝수
261  홀수
264  짝수
267  홀수
270  짝수
273  홀수
276  짝수
279  홀수
282  짝수
285  홀수
288  짝수
291  홀수
294  짝수
297  홀수
300  짝수
303  홀수
306  짝수
309  홀수
312  짝수
315  홀수
318  짝수
321  홀수
324  짝수
327  홀수
330  짝수
333  홀수
336  짝수
339  홀수
342  짝수
345  홀수
348  짝수
351  홀수
354  짝수
357  홀수
360  짝수
363  홀수
366  짝수
369  홀수
372  짝수
375  홀수
378  짝수
381  홀수
384  짝수
387  홀수
390  짝수
393  홀수
396  짝수
399  홀수
402  짝수
405  홀수
408  짝수
411  홀수
414  짝수
417  홀수
420  짝수
423  홀수
426  짝수
429  홀수
432  짝수
435  홀수
438  짝수
441  홀수
444  짝수
447  홀수
450  짝수
453  홀수
456  짝수
459  홀수
462  짝수
465  홀수
468  짝수
471  홀수
474  짝수
477  홀수
480  짝수
483  홀수
486  짝수
489  홀수
492  짝수
495  홀수
498  짝수
501  홀수
504  짝수
507  홀수
510  짝수
513  홀수
516  짝수
519  홀수
522  짝수
525  홀수
528  짝수
531  홀수
534  짝수
537  홀수
540  짝수
543  홀수
546  짝수
549  홀수
552  짝수
555  홀수
558  짝수
561  홀수
564  짝수
567  홀수
570  짝수
573  홀수
576  짝수
579  홀수
582  짝수
585  홀수
588  짝수
591  홀수
594  짝수
597  홀수
600  짝수
603  홀수
606  짝수
609  홀수
612  짝수
615  홀수
618  짝수
621  홀수
624  짝수
627  홀수
630  짝수
633  홀수
636  짝수
639  홀수
642  짝수
645  홀수
648  짝수
651  홀수
654  짝수
657  홀수
660  짝수
663  홀수
666  짝수
669  홀수
672  짝수
675  홀수
678  짝수
681  홀수
684  짝수
687  홀수
690  짝수
693  홀수
696  짝수
699  홀수
702  짝수
705  홀수
708  짝수
711  홀수
714  짝수
717  홀수
720  짝수
723  홀수
726  짝수
729  홀수
732  짝수
735  홀수
738  짝수
741  홀수
744  짝수
747  홀수
750  짝수
753  홀수
756  짝수
759  홀수
762  짝수
765  홀수
768  짝수
771  홀수
774  짝수
777  홀수
780  짝수
783  홀수
786  짝수
789  홀수
792  짝수
795  홀수
798  짝수
801  홀수
804  짝수
807  홀수
810  짝수
813  홀수
816  짝수
819  홀수
822  짝수
825  홀수
828  짝수
831  홀수
834  짝수
837  홀수
840  짝수
843  홀수
846  짝수
849  홀수
852  짝수
855  홀수
858  짝수
861  홀수
864  짝수
867  홀수
870  짝수
873  홀수
876  짝수
879  홀수
882  짝수
885  홀수
888  짝수
891  홀수
894  짝수
897  홀수
900  짝수
903  홀수
906  짝수
909  홀수
912  짝수
915  홀수
918  짝수
921  홀수
924  짝수
927  홀수
930  짝수
933  홀수
936  짝수
939  홀수
942  짝수
945  홀수
948  짝수
951  홀수
954  짝수
957  홀수
960  짝수
963  홀수
966  짝수
969  홀수
972  짝수
975  홀수
978  짝수
981  홀수
984  짝수
987  홀수
990  짝수
993  홀수
996  짝수
999  홀수

In [7]:
# 숫자를 담을 리스트
list1 = []
# 1부터 1000까지 반복한다
for v1 in range(1000) :
    # 3의 배수인지 검사한다
    if (v1 + 1) % 3 == 0 :
        # 3의 배수가 짝수라면 짝수라는 문자열을 담아준다.
        if (v1 + 1) % 2 == 0 :
            list1.append('짝수')
        # 3의 배수가 홀수라면 홀수라는 문자열을 담아준다.
        else :
            list1.append('홀수')
# 출력한다.
print(list1)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [9]:
# list1 = [in range(1000)]
# list1 = [for v1 in range(1000)]
# list1 = [for v1 in range(1000) if (v1 + 1) % 3 == 0]
list1 = ['짝수' if (v1 + 1) % 2 == 0 else '홀수' for v1 in range(1000) if (v1 + 1) % 3 == 0]
print(list1)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']