In [1]:
# 1차원 리스트
list1 = [10, 20, 30, 40, 50]
print(list1)

[10, 20, 30, 40, 50]

In [3]:
# 리스트의 순회
for v1  in list1 :
    print(v1)

10
20
30
40
50

In [5]:
# enumerate : 순서값과 관리하는 값의 쌍으로 이루어진 튜플들이 생성된다.
e1 = enumerate(list1)
print(list(e1))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [7]:
for idx, v1 in enumerate(list1) :
    print(f'{idx} : {v1}')

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50

In [9]:
# 2차원 리스트
list2 = [
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
]
print(list2)

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]

In [11]:
# 2차원 리스트에서 값 가져오기
print(list2[0][0])
print(list2[1][1])

10
50

In [13]:
# 범위를 지정하여 가져오기
# 리스트는 트리형태로 하위로 들어가는 개념이기 때문에
# 여러행 여러컬럼에 해당하는 값을 가져오는 것은 안된다.
print(list2[0:2][0:2])

[[10, 20, 30], [40, 50, 60]]

In [15]:
# 2차원 리스트의 순회
for v1 in list2 :
    for v2  in v1 :
        print(v2, end=",")
    print()

10,20,30,
40,50,60,
70,80,90,